* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbarheader {
  color: white;
  height: 100px;
  background-color: black;
}

.carousel-photos {
  display: flex;
  flex-wrap: wrap;
  align-items:flex-end;
  justify-content: center;
  background-image: url(/assets/1.jpeg);
  height: 500px;
  color:white;

}

.restos-lists {
  color:rgba(45, 136, 255, 0.616);
}
.restos-lists2 {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 400px;
}

.restos-lists2:hover {
  border: 1px solid #777;
}

.restos-lists2 img {
  width: 100%;
  height: auto;
  width: 400px;
  height: 300px;
}

.desc {
  padding: 15px;
  text-align: center;
}